body{
    display: grid;
    /*grid-gap: 20px;*/
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 50px;
}
header{
    grid-row: 1/span 1;
}
footer{
    grid-row: 3/span 1;
    margin-bottom: 20%;
}
nav{
    top: 0;
    position: fixed;
    width: 100%;
}
#main_menu{
    display: none;
}
main{
    grid-row: 2/span 1;
}
aside{
    display: none;
}
