<nav id="main_menu">
    <div class="sticky">
        <div id="logo">
            <img src="inc/edge_logo.jpg" alt="">
        </div>
        <ul>
            <li><a href="/" > home page </a></li>
            <li class="hasSub"><a href="#" > group</a>
                <ul>
                    <li><a href="#" > sub item 1</a></li>
                    <li><a href="#" > sub item 2</a></li>
                </ul>
            </li>
            <li><a href="/Plants_Statuses" > Plant Status </a></li>
            <li><a href="/plant_Status_history" > Plant History</a></li>
            <li><a href="/Devices_Location" > Device Location</a></li>
        </ul>
    </div>
</nav>
