<%- include ("./Gen_Edge_Design_Main/page_top.ejs") %>

<div class="device-table-container">
    <table id="device-table">
        <thead>
        <tr>
            <th>Device Number</th>
            <th>Connected Plants</th>
        </tr>
        </thead>
        <tbody id="device-data">

        </tbody>
    </table>
</div>
<script src="/js/Devices_Location.js"></script>




<%- include ("./Gen_Edge_Design_Main/page_bottom.ejs") %>
