<%- include ("./Gen_Files/page_top.ejs") %>

<div class="table-container">
    <table id="plant-table">
        <thead>
        <tr>
            <th>Plant ID</th>
            <th>Name</th>
            <th>Device ID</th>
            <th>UV Radiation</th>
            <th>Light</th>
            <th>Air Temperature</th>
            <th>Air Humidity</th>
            <th>Soil Humidity</th>
            <th>Measurement Date</th>
            <th>UV Radiation Max</th>
            <th>UV Radiation Min</th>
            <th>Light Max</th>
            <th>Light Min</th>
            <th>Air Temperature Max</th>
            <th>Air Temperature Min</th>
            <th>Air Humidity Max</th>
            <th>Air Humidity Min</th>
            <th>Soil Humidity Max</th>
            <th>Soil Humidity Min</th>
        </tr>
        </thead>
        <tbody id="plant-data">

        </tbody>
    </table>
</div>
<script src="js/plants_Status.js"></script>


<%- include ("./Gen_Files/page_bottom.ejs") %>
