
.device-table-container {
    margin: 20px;
    direction: ltr;
}
#device-table {
    width: 100%;
    border-collapse: collapse;
}
#device-table th, #device-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
#device-table th {
    background-color: #f2f2f2;
}
