.table-container { width: 100%; overflow-x: auto;}

table { width: 100%; border-collapse: collapse; margin: 20px 0; font-size: 18px; text-align: left; }

th, td { padding: 8px 12px; border: 1px;  }

th { background-color: #f4f4f4; text-transform: uppercase; }

tr:nth-child(even) { background-color: #f9f9f9; }

tr:hover { background-color: #f1f1f1; }

.filter-container {
    direction: ltr;
    display: flex;
    /*justify-content: center;*/
    margin-bottom: 20px;
}

#filter-form { direction: ltr; display: flex; align-items: center; flex-wrap: wrap; }

.form-group { margin-right: 20px; display: flex; align-items: center; }

.form-group label { margin-right: 10px; }

.form-group button { margin-top: 10px; }

.table-container {direction: ltr;  width: 100%; overflow-x: auto; }

#plant-table { width: 100%; border-collapse: collapse; }

#plant-table th, #plant-table td {border: 1px solid #ddd; padding: 8px; }

#plant-table th { background-color: #f2f2f2; text-align: left; }