<%- include("page_top.ejs") %>
    <table id="table">
        <thead>
        <tr>
<!--            <th>Name</th>-->
<!--            <th>Age</th>-->
<!--            <th>ID</th>-->
<!--            <th>Phone</th>-->

            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody id="TBody"></tbody>
    </table>
<p id="error"></p>
<script src ="/js/DataTable.js"></script>
<%- include("page_bottom.ejs") %>
