<footer>
    <p>
בנייה במסגרת kTech-Edge הנבחרת של מגמת תוכנה במכללה הטכנולוגית כנרת    </p>
    <p class="alignLeft">
        עיצוב אתר:
<a href="https://inbald6.wixsite.com/inbal-d-portfolio">        ענבל דגן</a>
    </p>
</footer>
