<img src="./inc/menu_m.png" onclick="toggleMenu();" class="ptr"/>
<!--<a href="./contact" class="contact_btn">שאלות והרשמה</a>-->
<div id="mobile_logo">
    <img src="inc/edge_logo.jpg" alt="">
</div>
