<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/Plant_Status.css" />
    <link rel="stylesheet" href="/css/plant_Status_history.css">
    <link rel="stylesheet" href="/css/Devices_Location.css">
    <link rel="stylesheet" href="/css/History_Graph.css">
<!--    <link rel="stylesheet" href="/css/Workers_Notes.css">-->
    <script src="./js/mobile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
<div class="mobile_menu">
    <%- include ("mobile_menu.ejs") %>
</div>
<%- include ("header.ejs") %>
<%- include ("main_menu.ejs") %>
<main>